{% extends "/html/base.html" %}
{% block content %}

<h1>Tiago Luchini</h1>
<p><strong>Chief Technology Officer | High Growth Company Leader | Digital Business Strategic Operator</br>Team Builder | Thought Leader</strong></p>

<hr class="divider">
<div class="row">

  <div class="col-md-8">
    <p>
      Tiago Luchini is a CTO, Digital Product Innovation Strategist,
      Business Leader, and Engineer with credits including leading
      Virgin America's award-winning digital transformation, Apple's
      "Today at Apple" program, and serving as Lead Architect for
      YouTube Music and YouTube TV while a Founding Partner at the
      award-winning digital solutions company, Work &amp; Co.
    </p>
    <p>
      He is the recipient of 4 Cannes Lions, receiving 1st Place
      Titanium and Grand Prix awards – the two highest honors – for
      his Apple work, has won 5 Webby Awards, and 3 Pixel Awards, in
      addition to Clio, One Show, Communication Arts, DES Innovation
      and Digiday Awards.
    </p>
    <p>
      As a Business and Operations Executive, Tiago is passionate
      about creating structures and processes where work gets done
      efficiently with first-class architecture and code. This has
      enabled his success assembling and managing high-performing
      global teams of engineers during hypergrowth for large public
      companies and start-ups in biotech, e-commerce, and
      satellite/communications.
    </p>
    <p>
      Career Highlights & Leadership Impact include:
    </p>
    <ul>
      <li><strong>High-Performing Global Team Builder:</strong> Record of success
        building large teams of engineers and product managers with an
        emphasis on training and retention while creating measurable
        productivity KPIs. 20+ years of identifying talent and leading
        first-class engineers around the world, solving complex
        engineering, cloud, app, ML, AI challenges.</li>
      <li><strong>C-Level Strategist & Solutions Architect Working with
        C-Level Counterparts at Apple, Google, Twitter, Virgin America
        and More:</strong> Created award-winning programs and solutions for the
        worlds leading technology and consumer brands, developing
        strategies, roadmaps and executing work. Awards include:
        <ul>
          <li>Winner of Cannes Lion, Webby, Clio for Virgin America’s
            complete digital transformation.</li>
          <li>Winner of Cannes Lion for Apple’s "Today at Apple"
            program launch in 498 stores worldwide.</li>
        </ul>
      </li>
      <li><strong>P&amp;L, Management and Operations Responsibility:</strong>
        Proven success creating the infrastructure for teams and
        departments to excel with an eye on profitability,
        accountability, and market-leading ROI. Account management,
        client relations, new business development, negotiating,
        department structuring, operations creation and continuous
        improvements.</li>
      <li><strong>Subject Matter Expert & Public Speaker:</strong>
        Invited speaker for digital and developer conferences and
        contributing writer for issues related to security, deep
        learning, blockchain, and app development.</li>
    </ul>
  </div>
  
  <div class="col-md-4">

    <img src="/img/avatar.jpg" class="img-fluid">
    <br></br>

    <hr class="divider">
    <p>In his free time, Tiago is an avid ultra-distance runner &amp;
      board game enthusiast.</p>
    <p>You may find him hiking, apple-picking, or enjoying a carefully
      brewed cortado in the charming Hudson Valley region of New York
      State where he lives with his wife &amp; retired greyhound.</p>

    <h1>Working with Tiago</h1>
    <hr class="divider">
    <p>Reach out if you’d like to work together:</p>
    <ul>
      <li>Investment / Adivsory Opportunities</li>
      <li>Speaking Opportunities</li>
      <li>Podcasts / Panels / Interviews</li>
      <li>Open jobs @ Deep Origin</li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Tiago currently serves as Chief Technology Officer at Deep
      Origin, a biotech startup, since August 2022, where he built a
      team of world-class engineers in 6 months and then successfully
      produced an MVP providing cloud engineering and IT services for
      life sciences and biotech companies in 3 months.
    </p>
    <p>
      Previous to this, Tiago served as CTO at Odeko, a $250M funded
      startup providing tools for businesses to operate and grow, from
      2021 to 2022. And from 2019 to 2021 he served as Head of Digital
      Transformation at Viasat, a 5000+ employee public company
      providing internet satellite for airlines and the US military,
      where he led a cross-functional global team of 90+ engineers and
      product managers in charge of digital, architectural, and
      organization transformation.
    </p>
    <p>
      From 2013 to 2019, Tiago was Partner of Technology & Digital
      Innovation at Work &amp; Co. where he was responsible for
      defining the technical strategy, vision, processes, and team
      culture working for clients including Facebook, Google, Apple,
      Twitter, Pepsi, Disney, and Virgin America. Here he built and
      managed a global team of 110+ engineers, product managers and
      strategists from scratch.
    </p>
    <p>
      Tiago is an industry thought leader and speaker and has written
      for publications including Ad Age and The Next Web on issues
      including blockchain, AI, and apps.
    </p>
    <p>
      Tiago earned dual MBAs from Columbia Business School and the
      London Business School in addition to a Master of Science in
      Strategic Management Information Systems from Universidade
      Estadual De Campinas in Brazil.
    </p>
  </div>
</div>

{% endblock %}
